# Turn off MultiViews
Options -MultiViews 

# directive to ensure *.rdf files served as appropriate content type, 
# if not present in main apache config 
AddType application/rdf+xml .rdf 

# Rewrite engine setup
RewriteEngine On
RewriteBase /retak 

# Rewrite rule to make sure serve HTML content from the namespace URI if requested
RewriteCond %{HTTP_ACCEPT} text/xml [OR]
RewriteCond %{HTTP_ACCEPT} application/xml [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml+xml
RewriteRule ^index$ bakwan.xml [R=303]

# Rewrite rule to make sure we serve the RDF/XML content from the namespace URI by default 
RewriteRule ^index$ buku.ttl [R=303]
RewriteRule ^index$	film.ttl [R=303]
